<div data-role="view" data-title="Home" data-layout="main" data-model="APP.models.home" data-after-show="homeShow" data-init="homeInit">
    <div class="offlineMessage warning message" data-transition="slidedown">
            <h3>No network found</h3>
        	<p>Much of this app depends on network availability. Please check network connection and try again.
            <br/>Unavailable functions will be greyed out.</p>
    </div>
    <div class="view-content homeTiles">
    <!-- tiles -->
            
            <div id="wrap" class="wrap">
				<div class="container">
    				<!-- Define all of the tiles: -->

		            <div class="bigbox">
        				<div class="boxInner">
        					<img class="me" src="images/home-icons/9890-App-icon-152x152-IT.png" />
        				</div>
    				</div> 
					<div class="box white-box">
						<div class="boxInner">
							<a href="views/guide.html" data-role="listview-link" data-transition="slide">
                                <img src="images/home-icons/9890-HP-icons-IT-300dpi-72x72-guide.png" />
								<div class="titleBox">Pocket Guide</div>
                            </a>

						</div>
					</div>
                    <div class="box white-box">
                    	<div class="boxInner">
                            <!--<a href="#" data-role="listview-link" class="networkDependent" data-transition="slide">-->
                            	<img src="images/home-icons/9890-HP-icons-IT-unavailable-300dpi-72x72-maps.png" />
                        		<div class="titleBox">Location</div> 
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                        	<!--<a href="#" data-role="listview-link" class="networkDependent" data-transition="slide">-->
                            	<img src="images/home-icons/9890-HP-icons-IT-unavailable-300dpi-72x72-news.png" />
                            	<div class="titleBox">News</div>
                            <!--</a>-->
                    	</div>
                    </div>
                    <div class="box white-box">
                    <div class="boxInner">
                    	<!--<a href="#" data-role="listview-link" class="networkDependent" data-transition="slide">-->
                            <img src="images/home-icons/9890-HP-icons-IT-unavailable-300dpi-72x72-events.png" />
                    		<div class="titleBox">Events</div>
                    	<!--</a>-->
                    </div>
                    </div>
                    <div class="box">
                    	<div class="boxInner">
                        	<a href="views/twitter.html" data-role="listview-link" class="networkDependent" data-transition="slide">
                            	<img src="images/home-icons/9890-HP-icons-IT-white-300dpi-72x72-twitter.png" />
                            	<div class="titleBox">Twitter</div>
                    		</a>
                        </div>
                    </div>
                    <div class="box white-box">
                    	<div class="boxInner">
                        	<!--<a href="#" data-role="listview-link" class="networkDependent" data-transition="slide">-->
                            	<img src="images/home-icons/9890-HP-icons-IT-unavailable-300dpi-72x72-facebook.png" />
                            	<div class="titleBox">Facebook</div>
                        	<!--</a>-->
                    	</div>
                    </div>
                    <div class="box">
                        <div class="boxInner">
                            <!--<a href="#" data-role="listview-link" class="networkDependent" data-transition="slide">-->
                            	<img src="images/home-icons/9890-HP-icons-IT-unavailable-300dpi-72x72-store.png" />
                            	<div class="titleBox">App Store</div>
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="box white-box">
                            <div class="boxInner">
                              
                            </div>
                    </div>  
    
				</div>
			</div>
            <!-- end tiles -->
        </div>
</div>